<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>More from this category</H1>
    {{if .Posts}}
    <div>
        {{range .Posts}}
            <div class="post">
                <h4>User {{.Title}}</h4>
                <p>{{.CreatedAt}}</p>
                <p><a href="/posts/display?pid={{.UUID}}">{{.Title}}</a></p>
                <p>{{.Content}}</p>
                {{if .Media}}
                <img src="/static/media/{{.Media}}" alt="Post Image" style="width: 70px; aspect-ratio: 1/1;">
                {{end}}
                <div class="actions">
                    <form action="/posts/like" method="post">
                        <input type="hidden" name="post-id" value="{{.UUID}}">
                        <button type="submit">Like</button>
                    </form>
                    <form action="/posts/dislike" method="post">
                        <input type="hidden" name="post-id" value="{{.UUID}}">
                        <button type="submit">Dislike</button>
                    </form>
                </div>
            </div>
            {{end}}
    </div>
    {{else}}
    <p>No posts in this category</p>
    {{end}}
</body>
</html>