<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <meta name="description" content="Forgot Password page for our forum website. Enter your credentials to retrieve your account.">
    <link rel="stylesheet" href="/static/css/onboarding.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="forgot-password-container">
        <h1 class="logo">forum</h1>
        <h1>Forgot Password</h1>
        <div class="login">

            <p>enter your email address</p>
            <form method="GET" action="/forgot-password">
                <input type="text" id="email" placeholder="email address" required>
                <button type="submit">Send Reset Link</button>
            </form>
        </div>

        <div class="account-issues">
            <p>Got an Account? <a href="/login">Log in</a></p>
            <p>Don't Have an Account? <a href="/register">sign up</a></p>
        </div>
    </div>
</body>
</html>