<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login page for our forum website. Enter your credentials to sign in.">
    <meta name="description" content="Login page for our forum website. Enter your credentials to sign in.">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/onboarding.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>

        <div class="login">
            <p>Enter Credentials</p>
            <input type="hidden" id="error_message" value="{{.ErrorMessage}}">
            {{ if .ErrorMessage }}
            <p style="color: red;">{{.ErrorMessage}}</p>
        {{ end }}

            <form method="POST" action="/login">
                <label for="email_username">Email/Username</label>
                <label for="email_username">Email/Username</label>
                <input type="text" id="email_username" placeholder="email/username" name="email_username" required>

                <label for="password">Password</label>

                <label for="password">Password</label>
                <input type="password" id="password" placeholder="password" name="password" required>


                <button type="submit">Login</button>
            </form>

            <!-- <p>or</p>
            <!-- <p>or</p>

            <a href="/google-signin" class="google-signin">
            <a href="/google-signin" class="google-signin">
                <button>continue with google</button>
            </a> -->            
            </a> -->            
        </div>
        
        <div class="account-issues">
            <p>forgot password? <a href="/forgot-password">click here</a></p>
            <p>don't have an account? <a href="/register">sign up</a></p>
        </div>
    </div>
</body>
</html>