<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Display Posts is a portal to view the whole story.">
    <title>{{.PostData.Title}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/post_display.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">

</head>
<body>

    <div class="navbar">
        <a href="/">
            <h1 class="navbar__title">forum</h1>
        </a>
        
        <div class="navbar__actions">
            <form action="/search" method="get" class="navbar__search-form">
                <input type="text" name="q" class="navbar__search" placeholder="Search...">
                <button type="submit" class="navbar__button">Search</button>
            </form>

            <a href="/posts/create">
                <button class="navbar__button" id="create-post-button">Create Post</button>
            </a>

            <!-- Show Logout Button and Profile Picture if Logged In -->
            {{ if .IsLogged}}
            <form action="/logout" method="POST" style="display: inline;">
                <button class="navbar__button" id="login-button">Log Out</button>
            </form>
            
            <div class="navbar__Profile__Pic">
            {{ if .ProfPic }}
            <a href="/profile">
                <img src="/static/images/{{.ProfPic}}"  alt="user">
             </a>
            {{ else }}
            <a href="/profile">
               <img src="/static/user-circle-svgrepo-com.svg"  alt="user">
            </a>
             {{ end }}
            </div>
            {{ else }}
            <!-- Show Log In Button if Logged In -->
            <a href="/login">
                <button class="navbar__button" id="login-button">Login</button>
            </a> 
            {{ end }}
        </div>
    </div>

    {{$post := .PostData}}
    <header class="post-head">
        <h1>{{.PostData.Title}}</h1>
        <p class="author">Posted by:<strong> {{.PostData.Username}}</strong></p>
        <p class="date">Posted on:<strong> {{.PostData.CreatedAt}}</strong></p>

        <div class="metrics">
            <form action="/posts/like" method="post">
                <input type="hidden" name="post-id" value="{{.PostData.UUID}}">
                <button type="submit" class="like-btn">👍 {{.PostData.LikesCount}}</button>
            </form>
            <form action="/posts/dislike" method="post">
                <input type="hidden" name="post-id" value="{{.PostData.UUID}}">
                <button type="submit" class="dislike-btn">👎 {{.PostData.DislikesCount}}</button>
            </form>
        </div>
        
    </header>

    <article>
        <div class="post-content">
            <p>{{.PostData.Content}}</p>
        </div>
        <div>
            {{if .PostData.Media}}
                <img src="/static/media/{{.PostData.Media}}" alt="Post Media" />
            {{else}}
                <p>No media available for this post.</p>
            {{end}}
        </div>
    </article>

    <section class="category-section">
        <ul>
            {{range .PostData.Categories}}
                <li class="category-pill">{{.}}</li>
            {{end}}
        </ul>
    </section>    

    <section>
        {{if .PostData.Comments}}
        <div class="comment-section">
            <!-- Displaying existing comments -->
            {{range $comment := .PostData.Comments}}
            <div class="comment">
                <p class="comment-author"><strong>{{$comment.Creator}}</strong> commented:</p>
                <p>{{$comment.Content}}</p>
                <p class="commedt-date"><em>{{$comment.CreatedAt}}</em></p>
            </div>
            <div class="actions">
                <form action="/comments/like" method="post">
                    <input type="hidden" name="comment-id" value="{{$comment.UUID}}">
                    <input type="hidden" name="post-id" value="{{$post.UUID}}">
                    <button type="submit" class="like-btn">👍 {{$comment.LikesCount}}</button>
                </form>
                <form action="/comments/dislike" method="post">
                    <input type="hidden" name="comment-id" value="{{$comment.UUID}}">
                    <input type="hidden" name="post-id" value="{{$post.UUID}}">
                    <button type="submit" class="dislike-btn">👎 {{$comment.DislikesCount}}</button>
                </form>
            </div>
            {{end}}
        </div>
        {{else}}
            <div class="comment-section">
                No comments yet. Be the first to comment!
            </div>
        {{end}}

            <!-- Comment form -->
            {{ if .IsLogged }}
             <div class="form-container">
                 <form action="/comment" method="POST">
                     <input type="hidden" name="postUUID" value="{{.PostData.UUID}}">
                     <input type="text" name="comment" placeholder="Write a comment..." required>
                     <button type="submit">Post</button>
                    </form>
                </div>
                {{ end }}

    </section>

    <footer>
        <p><a href="/">Back to Posts</a></p>
    </footer>

</body>
</html>
