<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View user profiles on forum, a community-driven discussion platform. Explore posts, comments, and user activity in a Reddit-style forum. Join the conversation today!">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/">
            <h1 class="navbar__title">forum</h1>
        </a>
        
        <div class="navbar__actions">
            <form action="/search" method="get" class="navbar__search-form">
                <input type="text" name="q" class="navbar__search" placeholder="Search...">
                <button type="submit" class="navbar__button">Search</button>
            </form>
            <!-- <input type="text" class="navbar__search" placeholder="Search Forum"> -->
            <a href="/posts/create">
                <button class="navbar__button" id="create-post-button">Create Post</button>
            </a>
            
        </div>
    </div>
    <div class="image-container">
        {{if .User.Image}}
        <img src="/static/images/{{.User.Image}}" alt="Profile Image" style="max-width: 200px; max-height: 200px;">
        {{end}}
    </div>
    <div>
        <h1>{{.User.Username}}</h1>
        <p>
            <strong>Email</strong><br/>
            <div>{{.User.Email}}</div>
        </p>
        {{if .User.Bio}}
            <p>
                <strong>User bio</strong><br/>
                <div>Bio: {{.User.Bio}}</div>
            </p>
        {{else}}
        <p>No Bio</p>
        {{end}}    
    </div>
    <h2>Posts</h2>
    {{if .Posts}}
    <div>
    {{range $post := .Posts}}
    <div class="post">
        <a href="/posts/display?pid={{$post.UUID}}">
            <h3>{{.Title}}</h3>
        </a>
        <p>{{.Content}}</p>
        {{if .Media}}
        <img src="/static/media/{{$post.Media}}" alt="Post Image" style="max-width: 200px; max-height: 200px;">
        {{else}}
        <p>No media</p>
        {{end}}
        <p>Posted on: {{$post.CreatedAt}}</p>
    </div>
    {{end}}
    </div>
    {{else}}
    <p>No posts available</p>
    {{end}}
</body>
</html>