<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h1>{{.User.Username}}'s Profile</h1>
    <p>Email: {{.User.Email}}</p>
    {{if .User.Image}}
        <img src="/static/images/{{.User.Image}}" alt="Profile Image" style="max-width: 200px; max-height: 200px;">
    {{else}}
        <p>No profile image</p>
    {{end}}
    {{if .User.Bio}}
    <p>Bio: {{.User.Bio}}</p>
    {{else}}
    <p>No Bio</p>
    {{end}}

    <h2>Posts</h2>
    {{if .Posts}}
    <div>
    {{range .Posts}}
    <div class="post">
        <a href="/posts/display?pid={{.UUID}}">
            <h3>{{.Title}}</h3>
        </a>
        <p>{{.Content}}</p>
        {{if .Media}}
        <img src="/static/images/{{.Media}}" alt="Post Image" style="max-width: 200px; max-height: 200px;">
        {{else}}
        <p>No media</p>
        {{end}}
        <p>Posted on: {{.CreatedAt}}</p>
    </div>
    {{end}}
    </div>
    {{else}}
    <p>No posts available</p>
    {{end}}
    
</body>
</html>