<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="registration-container">
        <h1>Register</h1>
        <form method="POST" action="/register">
            <p>email</p><input type="text" id="email" placeholder="example@email.com" name="email"required>
            <p>username</p><input type="text" id="username" placeholder="username" name="username" required>
            <p>password</p><input type="password" id="password" placeholder="password" name="password" required>
            <p>confirm Password</p><input type="password" id="confirm_password" placeholder="confirm password" name="confirm_password" required>
            <p>Bio</p><textarea type="text" id="bio" placeholder="about me" name="bio" required></textarea>
            <button type="submit">Register</button>
        </form>
        
        <p>or</p>

        <a href="/google-signin">
            <button>continue with google</button>
        </a>

        <p>have an account? <a href="/login">login</a></p>

    <input type="hidden" id="error_message" value="{{.ErrorMessage}}">

        <script>
            window.onload = function() {
                errMessage = document.getElementById("error_message").value;
                if (errMessage) {
                    alert(errMessage);
                }
            }
        </script>
    </div>

</body>
</html>