<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/onboarding.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="registration-container">
        <h1 class="logo">forum</h1>
        <h1>Register</h1>
        <form method="POST" action="/register" enctype="multipart/form-data">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="example@email.com" name="email" required>

            <label for="username">username</label>
            <input type="text" id="username" placeholder="username" name="username" required>
            <p>
                <ul>
                   *<strong>Recommended Password Rules</strong>
                   <li>Password must be at least 8 characters login.</li>
                    <li>Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%).</li>
                </ul>
            </p>
            <label for="password">password</label>
            <input type="password" id="password" placeholder="password" name="password" required>

            <label for="confirm_password">confirm Password</label>
            <input type="password" id="confirm_password" placeholder="confirm password" name="confirm_password" required>

            <label for="bio">Bio</label>
            <textarea type="text" id="bio" placeholder="about me" name="bio" required></textarea>
        
            <label for="image">choose image</label>
            <input type="file" id="image" name="image" accept="image/*">
           
            <button type="submit">Register</button>
        </form>
        
        <!-- <p>or</p>

        <a href="/google-signin">
            <button>continue with google</button>
        </a> -->
        <div class="account-issues">
        <p>Have an Account? <a href="/login">Login</a></p>
    </div>
</div>

    <input type="hidden" id="error_message" value="{{.ErrorMessage}}">

        <script>
            window.onload = function() {
                errMessage = document.getElementById("error_message").value;
                if (errMessage) {
                    alert(errMessage);
                }
            }
        </script>

</body>
</html>