/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #c6c7c7;
    color: #333;
    /* line-height: 1.6; */
    margin-top: 80px;
}

a {
    text-decoration: none;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    z-index: 1000;
}

.navbar__title {
    font-size: 30px; /* Adjusted for mobile */
    letter-spacing: 3px;
    color: #0172eb;
    font-weight: 700;                  /* Add spacing below */
}

.navbar a {
    text-decoration: none;
}

.navbar__actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__Profile__Pic img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar__search {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    transition: border 0.3s ease;
}

.navbar__search:focus {
    border-color: #0172eb;
    outline: none;
}

.navbar__button, .navbar__form__button {
    padding: 8px 15px;
    background-color: #0172eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar__button:hover {
    background-color: #0056b3;
}

/* .search__bar {
    display: flex;
    align-items: center;  /* Aligns items on the same line */
/* } */
.navbar__search-form {
    display: flex;
    align-items: center;  /* Ensures the input and button are on the same plane */
    gap: 5px;             /* Adds some spacing between input and button */
}

/* Media queries */
/* Small screens: Tablets and Mobile Devices */

@media (min-width: 769px) {
    .navbar__search {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column; /* Keep items in a row */
        flex-wrap: wrap; /* Allows wrapping */
    }

    .navbar__title {
        font-size: 24px;
        text-align: left; /* Align to the left */
        flex: 1;
    }

    .navbar__button {
        font-size: 12px;
        padding: 8px 17px;
    }

    .navbar__actions {
        flex: 1;
        justify-content: flex-end; /* Align actions to the right */
        flex-direction: row;
    }

    .navbar__search {
        font-size: 8px;
    }
}

@media (max-width: 480px) {
    .navbar__button {
        font-size: 10px;
        padding: 8px 14px;
    }

    .navbar__actions {
        flex: 1;
        justify-content: flex-end; /* Align actions to the right */
        flex-direction: row;
    }

    .navbar__search {
        font-size: 6px;
    }
}